### Misc
.env

### Minecraft
whitelist.json
ops.json
# s3 bucket in dynmap configuration
# s3 bucket for minecraft server backup

### Website
certs/
certbot-logs/
.well-know/

# only temporary until i figured out how to fix
cfg.txt


*.crt
*.key
