.schematic-id-*

images/

secrets.yaml
rendered/

talos/.terraform/
talos/.terraform.lock.hcl
talos/terraform.tfstate
talos/terraform.tfstate.backup
talos/terraform.tfstate.d/
talos/*.tfvars
talos/*.tfvars.json
talos/override.tf
talos/override.tf.json
talos/*_override.tf
talos/*_override.tf.json
talos/.terraformrc
talos/terraform.rc
